.about-container {
    font-family: 'Abhaya Libre', serif;
    display: flex;
    background-color: #090909;
    color: white;
    height: 90vh;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.about-img-container{
    max-height: 81vh;
    width: 25vw;
    margin: 3vw;
    border-radius: 16px;
    overflow: hidden;
}

.about-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content h2 {
    font-size: 6.4rem;
    font-weight: 400;
    margin-bottom: -1vh;
}
.about-content {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    font-size: 2.4rem;
    text-align: center;
}

