nav {
    margin-top: -11vh;
    position: sticky;
    top: 0;
    background-color: #090909;
    height: 8vh;
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 0.5vh;
}

nav ul {
    display: flex;
    list-style: none;
    column-gap: 3vw
}

nav ul li {
    font-family: 'Abhaya Libre', serif;
    font-size: 3.6rem;
    color: white;
}

nav ul li a {
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    color: white;
}